
                                                                    /* ESTILOS GENERALES*/
:root {
    /* Colors */
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #f4ece0;
    --dark: #232830;
    --bond: #b4aca4;
    --gray: #808080;
    /* Fonts */
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    /* Size */
    --card-size: 240px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* html {
    font-size: 62.5%;
} */


                                                                    /* ESTILOS DEL NAV-BAR*/


body {
    font-family:  'DM Serif Display', serif;
    background-color: var(--bond);
}
.inactive{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 65px;
}
.navbar-left ul, .navbar-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    padding: 8px;
    border-radius: 10px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    cursor: pointer;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-right ul .navbar-email {
    cursor: pointer;
    color: var(--hospital-green);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}


                                                                /* ESTILOS DEL MENU DE ESCRITORIO */


.desktop-menu {
    position: absolute;
    top: 65px;
    right: 2%;
    background-color: var(--bond);
    width: 160px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    box-shadow: 1px 1px 5px var(--very-light-pink);
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}


                                                                        /* ESTILOS DEL MENU EN MOVIL  */


.menuMovil{
    cursor: pointer;
}
.mobile-menu {
    background-color: var(--bond);
    position: absolute;
    top: 65px;
    padding: 24px;
    text-align: center;
    left: 0;
    width: 100%;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.mobile-menu ul {
    margin-top: 24px;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}


                                                                        /* ESTILOS DEL shopping-cart  */


.product-detail {
    background-color: var(--bond);
    border: var(--hospital-green) 2px solid;
    border-radius: 15px;
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.title-container {
    display: flex;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.title {
    font-size: var(--lg);
    font-weight: bold;
    margin: 16px 0;
}
.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--very-light-pink);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 8px 24px;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: var(--hospital-green);
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--bond);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}


                                                                        /* ESTILOS DEL CATALOGO  */


.cards-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}
.product-card {
    width: var(--card-size);
}
.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 65px;
    height: 65px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--gray);
}

                                                                        /* ESTILOS DEL PRODUCT DETAIL  */

.product-detail-emergent {
    background-color: var(--bond);
    border-radius: 12px;
    border: var(--hospital-green) 2px solid;
    position: absolute;
    right: 0;
    width: 360px;
    padding-bottom: 24px;
}
.product-detail-emergent-close {
    background-color: var(--hospital-green);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail-emergent-close:hover {
    cursor: pointer;
}
.product-detail-emergent > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}
.product-info-emergent {
    margin: 0 24px;
}
.product-info-emergent p:nth-child(1) {
    font-weight: bold;
    font-size: var(--lg);
    margin: 12px 0;
}
.product-info-emergent p:nth-child(2) {
    color: #797979;
    font-size: var(--lg);
    margin: 0 0 30px 0;
}
.product-info-emergent p:nth-child(3) {
    color: #797979;
    font-size: var(--md);
    margin: 0 0 30px 0;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 10px;
    border: none;
    color: var(--bond);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.button_add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -- - - - -  */

@media (max-width: 640px) {
    .product-detail-emergent {
        width: 100%;
    }
    .product-detail {
        width: 100%;        
    }
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    } 
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}